<!DOCTYPE html>
<html>
  <head>
    <title>Funlunch Game Organizer</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="content"></div>
    <div id="dataTemplate"></div>
    <script src="/webpack/bundle.js"></script>
    <footer>Copyleft (ɔ) 2017 <a href="http://facebook.com/Dewey.Hur">Digitz</a></footer>
  </body>
</html>