<!DOCTYPE html>
<html>
  <head>
    <title>Funlunch Game Organizer</title>
    <meta name="google-signin-scope" content="profile email">  
    <meta name="google-signin-client_id" content="594445784281-plc032fas98qm82n1pav74l1mndrasm1.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  <body>
    <div id="content"></div>
    <script src="/webpack/bundle.js"></script>
    <footer>Copyleft (ɔ) 2017 <a href="http://facebook.com/Dewey.Hur">Digitz</a></footer>
  </body>
</html>