* {
  font-family: 'Dosis';
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  border: 1px solid #ddd;
}
td {
  border: 1px solid #ddd;
}
h2 {
  font-size: 1.5em;
  text-align: center;
  font-weight: normal;
}

#menu {
  font-size: 2.0em;
  text-align: center;
  border-bottom: 1px dashed #ddd;
}
#you {
  font-size: 0.8em;
  float: right;
}
#logout {
  vertical-align: middle;
}
.withdraw {
  background-color: #C52;
}
.enter {
  background-color: #4CAF50;
}
.leave {
  background-color: #C52;
}

#gamerooms {
  margin-top: 20px;
  width: 100%;
}
#gamerooms table th {
  background-color: #4CAF50;
}
#gamerooms table td {
  border: 1px solid #ddd;
}
#gamerooms table .name {
  text-align: center;
}
#gamerooms table .maximum {
  text-align: center;
}
#gamerooms table .submaximum {
  color: #777;
  font-size: 0.8em;
}
#gamerooms table .createdBy {
  text-align: center;
}
#gamerooms table .members {
  font-size: 0.7em;
}
#gamerooms table .description {
  background-color: #f2f2f2;
  font-size: 0.8em;
  color: #777;
}

#creation {
  border: 1px solid #ddd;
}
#creation .field {
  font-size: 0.8em;
  text-align: right;
  width: 1%;
  white-space: nowrap;
}
#creation input {
  box-sizing: border-box;
  width: 100%;
}
#creation #submission {
  border: none;
  height: 52px;
}
footer {
  margin-top: 5px;
  border-top: 1px dotted #ddd;
  font-size: 0.6em;
  text-align: right;
}