<script type="text/template" data-template="withdraw">
  <button class="withdraw">Withdraw!!</button>
</script>

<script type="text/template" data-template="enter">
  <button class="enter">Enter</button>
</script>

<script type="text/template" data-template="leave">
  <button class="leave">Leave</button>
</script>

<section id="lobby">
  <div id="menu">
    <img src="https://ca.slack-edge.com/T039ZEK3W-U14V36QJ3-463d975e7ea6-72">
    <img src="https://ca.slack-edge.com/T039ZEK3W-U0D1SEK40-08d7962c19b6-72">
    !! Fun Lunch !!
    <img src="https://ca.slack-edge.com/T039ZEK3W-U1ATQ5D8R-ea016200ba21-72">
    <img src="https://ca.slack-edge.com/T039ZEK3W-U09E9P4FR-6ccc18feacfa-72">
  </div>
  <div>
    <div><span id="you" /></div>
    <div id="today" />
  </div>
  
  <div id="gamerooms">
    <table>
      <thead>
        <th>Game</th>
        <th>Maximum Players</th>
        <th>Created By</th>
        <th>Players</th>
        <th>Actions</th>
      </thead>
      <tbody id="rooms" />
    </table>
  </div>
  <div id="operation"></div>
</section>
