<script type="text/template" data-template="room">
  <tr id="${id}">
    <td class="name">${name}</td>
    <td class="maximum">${maximum}P</td> 
    <td class="createdBy" value="${idCreatedBy}">${createdBy}</td> 
    <td class="members">${members}</td>
    <td class="operation">
    </td>
  </tr>
  <tr>
    <td class="description" cols="4">${description}</td>
  </tr>
</script>

<section id="lobby">
  <h1>Fun Lunch Dashboard for <span id="today"/></h1>
  <div id="you"></div>
  <div id="operation"></div>
  <h2>Availble Rooms</h2>
  <table>
    <thead>
      <th>Game</th>
      <th>Maximum Players</th>
      <th>Created By</th>
      <th>Players</th>
    </thead>
    <tbody id="rooms" />
  </table>
</section>
