<script type="text/template" data-template="room">
  <tr id="${id}">
    <td class="name">${name}</td>
    <td class="maximum">${maximum}P</td> 
    <td class="creator">Owner: ${creator}</td> 
    <td class="members">Party: ${members}</td>
  </tr>
  <tr>
    <td class="description" cols="4">${description}</td>
  </tr>
</script>

<section id="lobby">
  <h1>Fun Lunch Dashboard for <span id="today"/></h1>
  <h2>Host</h2>
    <form id="createRoom">
      <div>
        <label>Game Name</label><input id="name" type="text" placeholder="7 Wonders" />
        <label>Maximum participants</label><input id="maximum" type="input" value="4" min="2" max="12" step="1" />
        <input id="submit" type="submit" value="create" />
      </div>
      <div>
        <label>Description</label><input id="description" type="text" placeholder="7 Wonders with expansion Leaders if applicable" />
      </div>
    </form>
  <h2>Availble Rooms</h2>
  <table id="rooms" />
</section>
